<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="78afa0">  <td>20/11/05 20:35:14</td>   <td>0</td> <td title="&gt;&gt;ExtentReportTestNg.setUpTest()[pri:0, instance:ExtentReport.ExtentReportTestNg@4d02f94e]">&gt;&gt;setUpTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@195984832</td>   <td></td> </tr>
<tr bgcolor="78afa0">  <td>20/11/05 20:35:14</td>   <td>6</td> <td>&nbsp;</td><td title="&gt;&gt;ExtentReportTestNg.beforetest()[pri:0, instance:ExtentReport.ExtentReportTestNg@4d02f94e]">&gt;&gt;beforetest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@195984832</td>   <td></td> </tr>
<tr bgcolor="78afa0">  <td>20/11/05 20:35:18</td>   <td>4193</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExtentReportTestNg.ProgressiveTest()[pri:0, instance:ExtentReport.ExtentReportTestNg@4d02f94e]">ProgressiveTest</td> 
  <td>main@195984832</td>   <td></td> </tr>
<tr bgcolor="78afa0">  <td>20/11/05 20:35:23</td>   <td>9333</td> <td>&nbsp;</td><td title="&lt;&lt;ExtentReportTestNg.Terminate()[pri:0, instance:ExtentReport.ExtentReportTestNg@4d02f94e]">&lt;&lt;Terminate</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@195984832</td>   <td></td> </tr>
</table>
