<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ee6fee">  <td>20/11/05 21:27:05</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;StartAutoQuoteTestNg.AfterTest()[pri:0, instance:ProgressiveTest.StartAutoQuoteTestNg@56cdfb3b]">&lt;&lt;AfterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@936653983</td>   <td></td> </tr>
<tr bgcolor="ee6fee">  <td>20/11/05 21:26:57</td>   <td>-8386</td> <td>&nbsp;</td><td title="&gt;&gt;StartAutoQuoteTestNg.BeforeTest()[pri:0, instance:ProgressiveTest.StartAutoQuoteTestNg@56cdfb3b]">&gt;&gt;BeforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@936653983</td>   <td></td> </tr>
<tr bgcolor="a9a8e4">  <td>20/11/05 21:26:47</td>   <td>-18101</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExtentReportTestNg.ProgressiveTest()[pri:0, instance:ExtentReport.ExtentReportTestNg@2b48a640]">ProgressiveTest</td> 
  <td>main@936653983</td>   <td></td> </tr>
<tr bgcolor="ee6fee">  <td>20/11/05 21:27:00</td>   <td>-5065</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="StartAutoQuoteTestNg.StartAutoQuote()[pri:0, instance:ProgressiveTest.StartAutoQuoteTestNg@56cdfb3b]">StartAutoQuote</td> 
  <td>main@936653983</td>   <td></td> </tr>
<tr bgcolor="a9a8e4">  <td>20/11/05 21:26:52</td>   <td>-13467</td> <td>&nbsp;</td><td title="&lt;&lt;ExtentReportTestNg.Terminate()[pri:0, instance:ExtentReport.ExtentReportTestNg@2b48a640]">&lt;&lt;Terminate</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@936653983</td>   <td></td> </tr>
<tr bgcolor="a9a8e4">  <td>20/11/05 21:26:43</td>   <td>-22090</td> <td>&nbsp;</td><td title="&gt;&gt;ExtentReportTestNg.beforetest()[pri:0, instance:ExtentReport.ExtentReportTestNg@2b48a640]">&gt;&gt;beforetest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@936653983</td>   <td></td> </tr>
<tr bgcolor="a9a8e4">  <td>20/11/05 21:26:43</td>   <td>-22095</td> <td title="&gt;&gt;ExtentReportTestNg.setUpTest()[pri:0, instance:ExtentReport.ExtentReportTestNg@2b48a640]">&gt;&gt;setUpTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@936653983</td>   <td></td> </tr>
</table>
